<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Display Data</title>
</head>
<body>
    <h1>Umumiy ma'lumotlar</h1>
    <p>First Name: {{ person.first_name }}</p>
    <p>Last Name: {{ person.last_name }}</p>
    <p>Company: {{ person.company }}</p>
    <p>Email: {{ person.email }}</p>
    <p>Phone: {{ person.phone }}</p>
    <p>Course Type: {{ person.course_type }}</p>
    <p>Subject: {{ person.subject }}</p>
    <p>Exist: {{ person.exist }}</p>
<a href="/" class="button">main</a>
</body>
</html>
